@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
@import url(../resourse/normaliz-style.css);
@import url(../resourse/fem-footer-style.css);
body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

.container-fluid {
  width: 100%;
}

.conteiner__content {
  max-width: 1440px;
  margin: 0 auto;
}

.header__navbar_flex {
  width: 100%;
  height: 100px;
  background-color: #3fc0ff;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_menu_top li {
  display: inline-block;
  text-align: center;
}
.navbar_menu_top a {
  color: hsl(0, 0%, 100%);
  width: 120px;
  padding: 10px 20px;
  border-radius: 20px;
}
.navbar_menu_top a:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsla(210, 4%, 67%, 0.5);
}
.navbar_menu_top .btn {
  color: hsl(212, 27%, 19%);
  background-color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: 700;
}

.burger-menu {
  display: none;
  position: absolute;
  right: 30px;
  width: 20px;
  height: 20px;
  background-color: #90d4c5;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }
  .burger-menu::before, .burger-menu::after, .burger-menu span {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3s;
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu::after {
    bottom: 0;
  }
  .burger-menu span {
    top: 9px;
  }
  .burger-menu.active-btn::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .burger-menu.active-btn::after {
    transform: rotate(135deg);
    bottom: 9px;
  }
  .burger-menu.active-btn span {
    transform: scale(0);
  }
  .burger-menu.active-btn {
    border-radius: 50%;
    overflow: hidden;
  }
  .navbar_menu_top {
    position: absolute;
    top: -150vh;
    left: 0;
    width: 100%;
    padding: 100px 0;
    transition: all 0.5s;
    overflow: auto;
    background-color: #90d4c5;
  }
  .navbar_menu_top.active-btn {
    top: 0;
    height: 100vh;
  }
  .navbar_menu_top ul {
    margin-top: 45px;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    gap: 45px;
  }
  .navbar_menu_top li {
    display: block;
    font-size: 27px;
    text-align: center;
  }
  .body-overflow {
    overflow: hidden;
  }
  .navbar_logo {
    z-index: 100;
  }
}
.main-banner__conteiner {
  width: 100%;
  height: 600px;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 100px;
}

.banner_content {
  width: 100%;
  text-align: center;
  margin-top: 0;
}
.banner_content h1 {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 36px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.15em;
  padding-top: 75px;
}
.banner_content svg {
  margin-top: 60px;
}

.card__conteiner_grid {
  display: grid;
  justify-content: center;
}
@media (min-width: 992px) {
  .card__conteiner_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}
@media (max-width: 992px) {
  .card__conteiner_grid div:nth-child(2) {
    order: -1;
  }
}

.card_item {
  max-width: 720px;
  max-height: 600px;
}
.card_item img {
  width: 100%;
}

.card_item_grid {
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  gap: 30px;
  padding: 30px;
}
.card_item_grid h2 {
  font-family: "Fraunces", serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  color: hsl(212, 27%, 19%);
}
.card_item_grid p {
  line-height: 1.5em;
  letter-spacing: 0.1em;
  color: hsl(232, 10%, 55%);
}
.card_item_grid a {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: hsl(212, 27%, 19%);
  position: relative;
}
.card_item_grid a.btn-softRed::after {
  content: "";
  display: block;
  width: 160px;
  height: 12px;
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  transform: translate(-5px, -10px);
  background-color: hsl(7, 99%, 70%);
  opacity: 30%;
}
.card_item_grid a.btn-softRed:hover::after {
  content: "";
  display: block;
  width: 160px;
  height: 12px;
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  transform: translate(-5px, -10px);
  background-color: hsl(7, 99%, 70%);
  opacity: 100%;
}
.card_item_grid a.btn-yellow::after {
  content: "";
  display: block;
  width: 160px;
  height: 12px;
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  transform: translate(-5px, -10px);
  background-color: hsl(51, 100%, 49%);
  opacity: 30%;
}
.card_item_grid a.btn-yellow:hover::after {
  content: "";
  display: block;
  width: 160px;
  height: 12px;
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  transform: translate(-5px, -10px);
  background-color: hsl(51, 100%, 49%);
  opacity: 100%;
}
@media (max-width: 992px) {
  .card_item_grid {
    margin: 90px 0;
  }
}
@media (min-width: 1200px) {
  .card_item_grid {
    padding: 90px;
  }
}

.card_item_flex {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 0 30px;
  max-width: 720px;
  height: 600px;
}

.item_flex_content {
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
}
@media (min-width: 576px) {
  .item_flex_content {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .item_flex_content {
    padding: 60px;
  }
}
.item_flex_content h2 {
  font-family: "Fraunces", serif;
  font-size: 36px;
}
.item_flex_content p {
  margin-top: 30px;
  line-height: 1.5em;
}
.item_flex_content a:hover h2,
.item_flex_content a:hover p {
  color: hsl(210, 4%, 67%);
}

.bg-graphicDesign {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-graphicDesign a,
.bg-graphicDesign h2,
.bg-graphicDesign p {
  color: hsl(167, 40%, 24%);
}

.bg-Photography {
  background-image: url(../images/desktop/image-photography.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-Photography a,
.bg-Photography h2,
.bg-Photography p {
  color: hsl(198, 62%, 26%);
}

.client__conteiner_flex {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .client__conteiner_flex {
    padding-top: 90px;
  }
}

.client_board_header {
  text-align: center;
}
.client_board_header h3 {
  font-family: "Fraunces", serif;
  font-size: 27px;
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  letter-spacing: 0.3em;
}

.client_board_grid {
  width: 80%;
  display: grid;
  grid-auto-flow: row;
  margin-top: 90px;
  gap: 30px;
}
@media (min-width: 992px) {
  .client_board_grid {
    grid-template: 1fr/repeat(3, 1fr);
  }
}

.client_item {
  display: grid;
  grid-auto-flow: row;
  gap: 60px;
  justify-items: center;
  text-align: center;
}
@media (max-width: 992px) {
  .client_item {
    max-width: 720px;
    margin-top: 60px;
  }
}

.foto {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}
.foto img {
  width: 100%;
}

.message p {
  line-height: 2em;
  color: hsl(213, 9%, 39%);
}

.name h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 19.8px;
}
.name p {
  margin-top: 15px;
  color: hsl(210, 4%, 67%);
}

.galerie__conteiner_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 90px;
}
.galerie__conteiner_grid img {
  width: 100%;
}
@media (min-width: 992px) {
  .galerie__conteiner_grid {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0;
  }
}

footer {
  background-color: #90d4c5;
  padding-top: 60px;
  text-align: center;
  color: hsl(167, 40%, 24%);
}
footer .navbar_logo svg path {
  fill: hsl(167, 40%, 24%);
}
footer .navbar_logo svg path:hover {
  fill: hsl(0, 0%, 100%);
}

.navbar_menu_footer {
  margin-top: 30px;
}
.navbar_menu_footer li {
  display: inline-block;
}
.navbar_menu_footer a {
  color: hsl(167, 40%, 24%);
  padding: 10px 20px;
}
.navbar_menu_footer a:hover {
  color: hsl(0, 0%, 100%);
}

.smm-bar {
  margin-top: 90px;
}
.smm-bar ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
  justify-content: center;
}
.smm-bar ul li:hover path {
  fill: hsl(0, 0%, 100%);
}

.autor {
  margin-top: 60px;
}/*# sourceMappingURL=style.css.map */